.table-container {
  background-color: black;
  /* height: 100vh; */
}
#loader {
  width: 100%;
}
#loader .loader {
  width: 100px;
  margin: auto;
  position: absolute; /* Set the position to absolute */
  top: 50%; /* Move the card down by 50% of its parent's height */
  left: 50%; /* Move the card right by 50% of its parent's width */
  transform: translate(-50%, -50%);
}

.pagination {
  padding: 20px;
  justify-content: end;
  button {
    margin-right: 5px;
  }
}
.pagination button {
  border: 1px solid #dfc355;
  background-color: transparent;
  padding: 10px;
  margin-right: 5px;

  color: #dfc355;
}
.pagination select {
  border: 1px solid #dfc355;
  background-color: transparent;
  padding: 10px;
  margin-right: 5px;

  color: #dfc355;
}
.pagination button:focus,
.pagination select:focus,
button:focus,
a:focus {
  outline: none;
}

#pairs {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}
#pairs .card {
  border: none;
  background-color: #0d0d0d;
  width: 100%;
  padding: 15px;
}
input:focus {
  outline: none;
}
#pairs input {
  border: 1px solid #404040;
  background-color: #161515;
  color: #ececec;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  overflow: visible;
  width: 100%;
  padding: 0.75rem 1rem;
}
#pairs .table td {
  background: #0d0d0d;
}
#pairs .table {
  background-color: #2a2e30;
  color: #fff;
}
#pairs table th,
table td {
  border: 1px solid #484747;
  border-collapse: collapse;
  background: #0d0d0d;
}
#pairs h1 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
}
#pairs h6 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;

  line-height: 1.2;
}

#pairs .horizontal_scroll {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}
#pairs .table td {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
}
#pairs table tbody tr:nth-child(odd) td {
  /* background: #373b3d; */
  background: #1c1c1c;
}

#pairs table tbody tr:nth-child(even) td {
  /* background: #2a2e30; */
  background: #0d0d0d;
}
#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#border-pagination li {
  display: inline;
}
#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
}
#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
#border-pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}
#border-pagination li a:hover:not(.active) {
  background: #ddd;
}

/* td:first-child, th:first-child {
  position:sticky;
  left:0;
  background: #2a2e30;

}
td:nth-child(2),th:nth-child(2)  { 
  position:sticky;
  left: 0px;
  background: #2a2e30;

  } */
td:nth-child(2) {
  color: #2dcee3;
}

/* CSS file or styled-components in React */
/* @media (max-width: 768px) {
  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background: #2a2e30;
    display: none;
  }
  td:nth-child(2),
  th:nth-child(2) {
    position: sticky;
    left: 0px;
    background: #2a2e30;
  }
} */



.price-tracker {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 24px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.full-width-table td {
  white-space: nowrap; /* Prevent text wrapping */
  text-align: center;
}